include Dockerfile
include CHANGELOG.md
include README.md
include COPYRIGHTS
include LICENSE
include requirements*.txt
include manage.py
include .gitignore
include .coveragerc
include .coverage
include .travis.yml
include .github/workflows/test.yml
include .flake8

recursive-include tests/ *
recursive-include scripts/ *
recursive-include squad_client/ *
recursive-include examples/ *
